.filters_container {
  padding: 2rem;
  background-color: white;
  position: absolute;
  border: 2px solid #e0e0e0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.search_input {
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  font-family: "Lato", sans-serif;
}

.app_button {
  border: 1px solid white;
  border-radius: 4px;
  background-color: white;
  font-size: 15px;
  font-family: "Lato", sans-serif;
}

.app_button:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.app_name {
  margin: 0.5rem 0;
  text-align: left;
}

.blur {
  filter: blur(2px);
}
